<div
  class="form-section"
>
  <div *ngIf="errorMessage"
    class="form-content error-message"
  >
    {{ errorMessage }}
  </div>
  <div
    class="form-content"
  >
    <label for="name">
      Name: 
      <input
        id="name"
        type="text"
        [ngClass]="{
          'invalid': !game.name && nameInput.touched
        }"
        [(ngModel)]="game.name"
        #nameInput="ngModel"
      />
    </label>
  </div>
  <div
    class="form-content"
  >
    <label for="code">
      Code: 
      <input
        id="code"
        type="password"
        [ngClass]="{
          'invalid': !game.code && codeInput.touched
        }"
        [(ngModel)]="game.code"
        #codeInput="ngModel"
      />
    </label>
  </div>
  <div
    class="form-content"
  >
    <draft-button
      (clicked)="submit()"
      [disabled]="!game.name || !game.code"
    >
      Join game
    </draft-button>
  </div>
</div>