<div
  class="collection-pane"
>
  <div
    class="filter-pane"
  >
    <img
      class="preview-pane-image"
      [attr.src]="selectedCard.imageUrl || backupImg"
    />
    <div
      class="preview-pane-description"
    >
      <p *ngIf="!selectedCard.description"
        class="preview-pane-description-none"
      >
        -- No Effect --
      </p>
      <p *ngFor="let description of getDescriptions(selectedCard.description); last as isLast">
        {{ description }}
        <br *ngIf="!isLast" />
        <br *ngIf="!isLast" />
      </p>
    </div>
    <hr />
    <h2>Filters</h2>
    <filter-container
      label="Search"
    >
      <input
        type="text"
        [(ngModel)]="filters.search"
      />
    </filter-container>
    <filter-container
      label="Color"
    >
      <ul
        class="player-list no-select"
      >
        <li *ngFor="let key of getKeys(filters.color)">
          <filter-checkbox
            [name]="key"
            [label]="key"
            [(ngModel)]="filters.color[key]"
          >
          </filter-checkbox>
        </li>
      </ul>
    </filter-container>
  </div>
  <div
    id="collection-main"
  >
    <h2
      class="deck-bar"
    >
      Collection:
    </h2>
    <div
      class="card-pane"
    >
      <card-display *ngFor="let card of (cards | cardFilter:filters | sort:'cmc')"
        [card]="card"
        [empty]="card.count === 0"
        (clicked)="addCard(card)"
        (selected)="updateSelected(card)"
      >
      </card-display>
    </div>
    <h2
      class="deck-bar"
    >
      Deck:
    </h2>
    <div
      class="deck-pane"
    >
      <p *ngIf="activeDeck.length > 0"
        class="card-count no-select"
      >
        {{ activeDeck.length }}
      </p>
      <card-display *ngFor="let card of (activeDeck | sort:'cmc')"
        [card]="card"
        (clicked)="removeCard(card)"
        (selected)="updateSelected(card)"
      >
      </card-display>
    </div>
  </div>
</div>
