<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav-bar d-print-none">
  <a
    class="home-btn"
    routerLink="/"
    routerLinkActive="active"
  >
    Home
  </a>
  <a
    routerLink="/create"
    routerLinkActive="active"
  >
    Create
  </a>
  <a
    routerLink="/join"
    routerLinkActive="active"
  >
    Join
  </a>
  <a
    routerLink="/cubes"
    routerLinkActive="active"
  >
    Submit a cube
  </a>
  <a
    routerLink="/proxy"
    routerLinkActive="active"
  >
    Proxy
  </a>
</nav>
<div
  id="main-content"
>
  <router-outlet></router-outlet>
</div>
