<div
  class="form-section"
>
  <div *ngIf="errorMessage"
    class="form-content error-message"
  >
    {{ errorMessage }}
  </div>
  <div
    class="form-content"
  >
    <label for="name">
      Name: 
      <input
        id="name"
        type="text"
        [ngClass]="{
          'invalid': !game.name
        }"
        [(ngModel)]="game.name"
      />
    </label>
  </div>
  <div
    class="form-content"
  >
    <label for="player-count">
      Max players (1-12): 
      <input
        id="player-count"
        type="number"
        max="12"
        min="1"
        [ngClass]="{
          'invalid': !isMaxPlayersValid()
        }"
        [(ngModel)]="game.maxPlayers"
      />
    </label>
  </div>
  <div
    class="form-content"
  >
    <div class="set-type-selector">
      <label>
        <input
          type="radio"
          [value]="false"
          [(ngModel)]="useCube"
        >
        Set draft
      </label>
      <label>
        <input
          type="radio"
          [value]="true"
          [(ngModel)]="useCube"
        >
        Cube draft
      </label>
    </div>
    <label class="set-selector" for="set-selector">
      {{ !useCube ? 'Sets (up to 3):' : 'Cube' }}
      <select
        id="set-selector"
        [attr.multiple]="!useCube"
        type="select"
        [ngClass]="{
          'invalid': !isSetsValid()
        }"
        [(ngModel)]="game.sets"
      >
        <option *ngFor="let set of (!useCube ? sets : cubes)"
          [value]="set.code"
        >
          {{ set.name + ' (' + set.code + ')' }}
        </option>
      </select>
    </label>
  </div>
  <div
    class="form-content"
  >
    <draft-button
      (clicked)="submit()"
      [disabled]="!isValid()"
    >
      Create game
    </draft-button>
  </div>
</div>