<div
  class="form-section"
>
  <div *ngIf="message"
    class="message"
  >
    <div>
      {{ message }}
    </div>
  </div>
  <div *ngIf="errorMessage"
    class="message error-message"
  >
    <div>
      {{ errorMessage }}
    </div>
  </div>
  <div
    class="main-form"
  >
    <label
      for="name"
      class="form-content"
    >
      Name: 
      <input
        id="name"
        type="text"
        [ngClass]="{
          'invalid': !game.name && nameInput.touched
        }"
        [(ngModel)]="game.name"
        #nameInput="ngModel"
      />
    </label>
    <label
      class="form-content"
      for="player-count"
    >
      Max players (2-12): 
      <input
        id="player-count"
        type="number"
        max="12"
        min="2"
        [ngClass]="{
          'invalid': !isMaxPlayersValid()
        }"
        [(ngModel)]="game.maxPlayers"
      />
    </label>
    <div class="set-type-selector">
      <label>
        <input
          type="radio"
          [value]="false"
          [(ngModel)]="useCube"
        >
        Set draft
      </label>
      <label>
        <input
          type="radio"
          [value]="true"
          [(ngModel)]="useCube"
        >
        Cube draft
      </label>
    </div>
    <label class="set-selector" for="set-selector">
      {{ !useCube ? 'First set (up to 3):' : 'Cube' }}
      <div
        class="first-set-btn-group"
      >
        <select
          id="set-selector"
          type="select"
          [ngClass]="{
            'invalid': !isSetsValid()
          }"
          [(ngModel)]="selectedSet"
        >
          <option *ngFor="let set of (!useCube ? sets : cubes)"
            [value]="set.code"
          >
            {{ set.name + ' (' + set.code + ')' }}
          </option>
        </select>
        <button *ngIf="!useCube && !this.selectedThirdSet"
          class="add-set-button"
          title="Add set"
          (click)="addSet()"
        >
          +
        </button>
      </div>
    </label>
    <label *ngIf="!useCube && !!this.selectedSecondSet"
      class="set-selector"
      for="second-set-selector"
    >
      Second set
      <select
        id="second-set-selector"
        type="select"
        [ngClass]="{
          'invalid': !isSetsValid()
        }"
        [(ngModel)]="selectedSecondSet"
      >
        <option *ngFor="let set of sets"
          [value]="set.code"
        >
          {{ set.name + ' (' + set.code + ')' }}
        </option>
      </select>
    </label>
    <label *ngIf="!useCube && !!this.selectedThirdSet"
      class="set-selector"
      for="third-set-selector"
    >
      Third set
      <select
        id="third-set-selector"
        type="select"
        [ngClass]="{
          'invalid': !isSetsValid()
        }"
        [(ngModel)]="selectedThirdSet"
      >
        <option *ngFor="let set of sets"
          [value]="set.code"
        >
          {{ set.name + ' (' + set.code + ')' }}
        </option>
      </select>
    </label>
    <div
      class="form-content"
    >
      <draft-button
        (clicked)="submit()"
        [disabled]="!isValid()"
        [isPrimary]="true"
      >
        Create game
      </draft-button>
    </div>
  </div>
</div>
<wait
  [isWaiting]="isWaiting"
>
</wait>