<div
  class="preview-pane"
>
  <button *ngIf="selectedCard.backImageUrl"
    class="flip-preview-control"
    title="Flip card"
    (click)="flipSelectedCard()"
  >
    <i class="fas fa-sync"></i>
  </button>
  <img
    class="preview-pane-image"
    [attr.src]="getSelectedCardUrl(selectedCard, selectedCardFlipped)"
  />
  <div
    class="preview-pane-description"
  >
    <p *ngIf="!selectedCard.description"
      class="preview-pane-description-none"
    >
      -- No Effect --
    </p>
    <p *ngFor="let description of getDescriptions(selectedCard.description); last as isLast">
      {{ description }}
      <br *ngIf="!isLast" />
      <br *ngIf="!isLast" />
    </p>
  </div>
  <hr />
  <div
    class="preview-pane-menu">
    <div
      class="preview-code"
    >
      <h3>Game code</h3>
      <p>{{ gameConfig.code }}</p>
    </div>
    <div
      class="preview-players sky-form-group"
    >
      <div
        class="right-game-info"
      >
        <h3>
          Players connected: {{ gameConfig.players.length }} 
          <i
            class="fas chevron"
            [ngClass]="{
              'fa-chevron-down': !showPlayers,
              'fa-chevron-up': showPlayers
            }"
            [title]="showPlayers ? 'hide player list' : 'show player list'"
            (click)="showPlayers = !showPlayers"
          >
          </i>
        </h3>
        <ul *ngIf="showPlayers"
          class="player-list no-select"
        >
          <li *ngFor="let player of gameConfig.players"
            [ngClass]="{
              'active-player': player === gameConfig.name
            }"
          >
            {{ player }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="gameConfig.state === 0 && gameConfig.players[0] === gameConfig.name"
      class="preview-browse sky-form-group"
    >
      <draft-button
        class="sky-btn sky-btn-primary sky-form-control"
        type="button"
        [disabled]="!gameConfig.players || gameConfig.players.length <= 1 || !gameConfig.packsReady"
        [isPrimary]="true"
        [title]="gameConfig.players && gameConfig.players.length <= 1 ? 'Must have at least 2 players.' : (gameConfig.packsReady ? 'Start drafting' : 'Still generating booster packs.')"
        (clicked)="startGame()"
      >
        Start game
      </draft-button>
    </div>
    <div *ngIf="gameConfig.state === 1"
      class="preview-browse sky-form-group"
    >
      <draft-button
        class="sky-btn sky-btn-primary sky-form-control"
        type="button"
        [title]="browseCards ? 'Hide' : 'Show'"
        [isPrimary]="browseCards"
        (clicked)="browseCards = !browseCards"
      >
        {{ browseCards ? 'Hide' : 'Show' }} picked cards
      </draft-button>
    </div>
    <div *ngIf="gameConfig.done"
      class="preview-export sky-form-group"
    >
      <h3>
        Drafting complete: 
        <a
          class="sky-btn sky-btn-primary sky-form-control"
          [routerLink]="['/export', gameConfig.code, gameConfig.playerId]"
          routerLinkActive="active"
        >
          Export cards
        </a>
      </h3>
    </div>
  </div>
</div>

<div
  id="draft-main"
>
  <div *ngIf="!browseCards && gameConfig.state === 1 && gameConfig.players.length > 0"
    class="draft-nav-pane"
  >
    <p
      class="draft-left-player"
    >
      {{ leftPlayer }}
    </p>
    <p
      class="draft-direction"
    >
      <i
        class="fas"
        [ngClass]="{
          'fa-arrow-left': gameConfig.isPassingLeft,
          'fa-arrow-right': !gameConfig.isPassingLeft
        }"
      >
      </i>
    </p>
    <p
      class="draft-right-player"
    >
      {{ rightPlayer }}
    </p>
  </div>
  <div *ngIf="!browseCards && currentPack.length > 0 && gameConfig.state === 1"
    class="card-pane"
  >
    <p
      class="card-count no-select"
    >
      Cards: {{ currentPack.length }}
    </p>
    <card-display *ngFor="let card of currentPack"
      [card]="card"
      (clicked)="submitChoice(card)"
      (selected)="updateSelected(card)"
    >
    </card-display>
  </div>
  <div *ngIf="!browseCards && (currentPack.length === 0 || gameConfig.state !== 1)"
    class="ripple-pane"
  >
    <h2 *ngIf="gameConfig.state !== 1">Waiting for game start...</h2>
    <h2 *ngIf="gameConfig.state === 1 && !gameConfig.done">Awaiting next pack from {{ nextPlayer }}...</h2>
    <h2 *ngIf="gameConfig.state === 1 && gameConfig.done">Draft Complete</h2>
    <p *ngIf="gameConfig.state === 1 && gameConfig.done">(Export cards on the left)</p>
    <div *ngIf="!gameConfig.done">
      <div
        class="lds-ripple"
      >
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div *ngIf="browseCards"
    class="draft-nav-pane"
  >
    <p
      class="draft-left-player"
    >
    </p>
    <h2
      class="draft-direction"
    >
      Picked cards
    </h2>
    <p
      class="draft-right-player"
    >
    </p>
  </div>
  <div *ngIf="browseCards"
    class="card-pane picked-cards"
  >
    <p
      class="card-count no-select"
    >
      Cards: {{ gameConfig.cards.length }}
    </p>
    <card-display *ngFor="let card of gameConfig.cards"
      [card]="card"
      [selectable]="false"
      (selected)="updateSelected(card)"
    >
    </card-display>
  </div>
</div>
