<div
  class="text-export"
>
  <h2>Text format:</h2>
  <pre class="text-output">{{ cardListText }}</pre>
  <button *ngIf="!copiedState"
    class="btn copy-btn"
    (click)="copyText()"
  >
    Copy to clipboard
  </button>
  <button *ngIf="copiedState"
    class="btn copy-btn"
    disabled="true"
  >
    Copied.
  </button>
</div>
<div
  class="vertical-dividing-line"
>
</div>
<div
  class="tabletop-export"
>
  <button *ngIf="!tabletopDataListener"
    class="btn btn-primary"
    (click)="getTabletopData()"
  >
    Export to tabletop
  </button>
  <div *ngIf="tabletopDataListener">
    <div
      class="lds-ripple"
    >
      <div></div>
      <div></div>
    </div>
  </div>
  <p *ngIf="tabletopGetState">State: <b>{{ tabletopGetState }}</b></p>
  <p *ngIf="tabletopDataListener" class="deemphasized">(This may take a while to generate)</p>
</div>
