<div *ngIf="cardsNotFound && cardsNotFound.length > 0"
  class="errors d-print-none"
>
  <div>
    Some cards could not be found. You may want to go back and check your list for misspellings.
    Cards not found: <b>{{ getCardsNotFoundString() }}</b>
  </div>
</div>
<div *ngIf="editing"
  class="proxy-page d-print-none"
>
  <h2>Enter your cube's card list below:</h2>
  <textarea
    [(ngModel)]="cardListText"
    placeholder="Enter card names in MTGO format. Examples below:

4 Fire // Ice
1 Old man of the sea
3 Grafdigger's cage"
  >
    {{ cardListText }}
  </textarea>
</div>
<div
  class="btn-section d-print-none"
>
  <button *ngIf="editing"
    class="btn btn-primary"
    [disabled]="!cardListText || !cardListText.trim()"
    (click)="generateProxies()"
  >
    Validate card names
  </button>
  <button *ngIf="editing"
    class="btn"
    (click)="cardListText = ''"
  >
    Clear
  </button>
  <button *ngIf="!editing"
    class="btn btn-secondary"
    (click)="editing = true"
  >
    Edit
  </button>
</div>
<div *ngIf="!editing && cards && cards.length > 0"
  class="btn-section d-print-none"
>
  <input
    class="cube-name-input"
    type="text"
    [(ngModel)]="cubeName"
    placeholder="Cube name"
  >
  <button
    class="btn btn-primary"
    [disabled]="!cubeName"
    (click)="saveAsCube()"
  >
    Publish cube
  </button>
</div>
<div *ngIf="!editing"
  class="proxy-list-page"
>
  <div *ngFor="let card of cards"
    class="card-display"
  >
    <img [attr.src]="card.imageUrlCropped" [attr.alt]="card.name" />
  </div>
</div>
<wait
  [isWaiting]="isWaiting"
>
</wait>
